@use '../../config.module' as *;

.cta {
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: fit-content;
    gap: $space-1;
    background-color: $color-primary;
    text-decoration: none;
    color: $white;
    padding: 12px 32px;
    border: 1px solid transparent;
    font-size: 16px;
    cursor: pointer;
    border-radius: $space-4;
    transition: all .3s ease;
    font-weight: 400;

    &:hover {
        background-color: $color-primary-90;
    }
    
    // estilos agregados -------------------
}

.icon {
    width: $space-2;
    height: $space-2;
}

.secondary {
    // estilos agregados -------------------
    background-color: transparent;
    color: black;
    border-color: $color-border;

    &:hover {
        background-color: #f4f4f5;
        color: $color-primary;
    }
}