$color-primary:#319b90;
$color-primary-90: #319b90e6;
$color-primary-alpha:#ecf9f8;

$white:#fcfdfd;
$color-secondary:#f3f6f6;
$color-foreground:#131c20;
$color-gray-900:#737373;
$color-accent:#131c20;
$color-border:#e6e6e6;
$box-shadow:1px 1px 5px #32323232;

// 8px spaces
$space-1: 0.5rem;   // 8px
$space-2: 1rem;      // 16px
$space-3: 1.5rem;    // 24px
$space-4: 2rem;      // 32px
$space-5: 2.5rem;    // 40px
$space-6: 3rem;      // 48px
$space-7: 3.5rem;    // 56px
$space-8: 4rem;      // 64px

// 8px fonts
$font-sm: 0.875rem;  // 14px
$font-base: 1rem;    // 16px  
$font-lg: 1.125rem;  // 18px
$font-xl: 1.5rem;    // 24px
$font-2xl: 2rem;     // 32px
$font-3xl: 2.5rem;   //40px
$font-4xl: 3rem;   //64px

// mixin

@mixin for-tablet(){
    @media screen and (min-width: 900px) {
        @content;
    }
}