@use '../../config.module' as *;

.itemContact {
    display: flex;
    align-items: center;
    gap: $space-2;


    .iconContainer {
        background-color: $color-primary-alpha;
        padding: .8rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        color: $color-primary;
        width: 1.3rem;
        height: 1.3rem;
    }

    .info {}
}